@model NERCManagementSystem.Models.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Members</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Member</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNIC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CNIC, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CNIC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherName, "Father's Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FatherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherCNIC, "Father's CNIC", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FatherCNIC, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FatherCNIC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherPhone, "Father's Phone", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FatherPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FatherPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherEmail, "Father's Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FatherEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FatherEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberTypeID, "Member Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MemberTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.MemberTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamID, "Team", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TeamID", String.Empty)
                @Html.ValidationMessageFor(model => model.TeamID)
            </div>
        </div>
    </div>
    <p class="text-center"><input type="submit" value="Save" class="btn btn-primary" />          @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })</p>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
